.events {
  .content {
    background-color: white;
    padding: 0 ($padding * 3.5);

    h1, h2, h3, h4, p, {
      padding: 0 ($margin / 2);
    }

    .current { margin-bottom: 0; }

    .row {
      width: 100%;
      margin-bottom: ($margin * 2);
    }

    .contenedor {
      width: 100%;
      margin-bottom: ($margin * 2);
    }

    .past-title {
      margin-bottom: 0 !important;
    }

    .advice {
      color: $text-color;
      padding: 0 ($margin / 2);
    }

    .btn {
      float: right;
      color: #fff;
      margin-top: ($margin / 4);
      font-size: 14px;
    }

    a {
      color: $green;
      text-decoration: none;
    }

    .shadow {
      -moz-box-shadow:    3px 3px 5px -2px $light-gray;
      -webkit-box-shadow: 3px 3px 5px -2px $light-gray;
      box-shadow:         3px 3px 5px -2px $light-gray;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }

    .first {
      @extend .shadow;
      margin: ($margin / 2);
      width: 98%;
      border: 1px solid $light-gray;
      text-align: justify;

      .datetime {
        width: 20%;
        padding: ($padding * 3) 0;
        text-align: center;
        margin-left: 0 !important;
        float: left;

        .month {
          font-size: 1.5em;
          color: $black;
        }

        .day {
          font-size: 4.0em;
          font-weight: bold;
          color: $green;
          line-height: .9em;
        }

        .weekday {
          color: $gray;
          font-size: 1.2em;
          line-height: 1.7em;
        }

        .time {
          font-size: 1.2em;
          font-weight: bold;
          line-height: .9em;
        }
      }

      .main-data {
        width: 80%;
        padding: $padding $padding $padding 0;
        margin: 0;
        float: left;

        .title {
          color: $green;
          font-family: "Helvetica";
          font-weight: bold;
          font-size: 2.5em;
        }

        .location {
          text-align: left !important;
          color: $gray;
          font-size: 1.1em;
          line-height: 1.1em;

          .img {
            width: 5%;
            overflow: hidden;
            float: left;
          }

          .info {
            width: 95%;
            float: left;

            .place { font-weight: 700 }

            .organizer {
              color: $green;
              text-align: left;
              font-family: "Helvetica";
              font-weight: lighter;
              font-size: .9em;
              margin-top: ($margin / 2);
              margin-bottom: $margin;
            }
          }
        }

        .description {
          margin-top: ($margin / 2);
          color: $gray;
          font-family: "Helvetica";
          font-weight: lighter;
        }
      }
    }

    .second {
      width: 460px;
      margin: ($margin / 2);
      border: 1px solid $light-gray;
      text-align: justify;
      vertical-align: middle;
      @extend .shadow;

      .datetime {
        width: 30%;
        padding: ($padding * 2) $padding;
        float: left;
        text-align: center;
        margin-left: 0 !important;

        .month {
          font-size: 1.2em;
          color: $black;
        }

        .day {
          font-size: 3.0em;
          font-weight: bold;
          color: $green;
          line-height: .9em;
        }

        .weekday {
          color: $gray;
          font-size: 1.0em;
          line-height: 1.7em;
        }

        .time {
          font-size: 1.0em;
          font-weight: bold;
          line-height: .9em;
        }
      }

      .main-data {
        width: 70%;
        padding: $padding $padding $padding 0;
        float: left;

        .title {
          color: $green;
          font-family: "Helvetica";
          font-weight: bold;
          font-size: 1.5em;
        }

        .location {
          text-align: left !important;
          color: $gray;
          font-size: 1em;
          line-height: 1.1em;

          .img {
            width: 10%;
            overflow: hidden;
            float: left;
          }

          .info {
            width: 90%;
            float: left;

            .place { font-weight: 700 }

            .organizer {
              color: $green;
              text-align: left;
              font-family: "Helvetica";
              font-weight: lighter;
              font-size: .9em;
              margin-top: ($margin / 2);
              margin-bottom: $margin;
            }
          }
        }

        .description {
          margin-top: ($margin / 2);
          color: $gray;
          font-family: "Helvetica";
          font-weight: lighter;
          font-size: .9em;
        }
      }
    }

    .third {
      @extend .second;
      margin: ($margin / 2);

      .datetime {
        padding: ($padding * 1.5) $padding;
      }

      .main-data {
        padding-left: $padding;
      }
    }

    h1 {
      color: $header1-color;
    }

    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      color: $header1-color;
    }

    .edit {
      display: none;
      position: absolute;
    }

    .icon-edit {
      color: $green;
    }
  }

  .event-data {
    margin: ($margin * 2) 0;

    .description-data {
      .title {
        color: $green;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 2.0em;
      }

      .description {
        margin: $margin 0 ($margin * 2) 0;
        font-family: "Roboto";
        text-align: justify;
        font-weight: 300;
        color: $text-color;
      }
    }

    .where-data {
      h2 {
        color: $green;
        padding: 0;
      }

      .location-info {
        margin-left: 0;
        width: 40%;
        float: left;

        .place {
          color: $gray;
          font-weight: bold;
          font-size: 0.9em;
          line-height: 1.1em;
          margin-bottom: $margin / 4;

          .image {
            margin: 0;
          }

          .loc {
            font-family: "Roboto";
            font-weight: 900;
            font-size: $text-size + 2;
            color: $header1-color;
            display: inline;
          }

          .add {
            font-family: "Roboto";
            font-weight: 400;
            color: $text-color;
            display: inline;
            line-height: 1.2em;
          }
        }

        .organizer {
          margin-left: ($margin + 5);
          color: $green;
          font-family: "Roboto";
          font-weight: lighter;
          line-height: 1.2em;
        }

        .contact {
          padding-left: $padding + 5;
          font-weight: lighter;
          line-height: 1.7em;
        }

        .datetime {
          padding: ($padding * 2) ($padding * 4) $padding 0;
          text-align: center;

          .month {
            font-size: 1.5em;
            color: $black;
          }

          .day {
            font-size: 4.0em;
            font-weight: bold;
            color: $green;
            line-height: .9em;
          }

          .weekday {
            color: $gray;
            font-size: 1.2em;
            line-height: 1.7em;
          }

          .time {
            font-size: 1.2em;
            font-weight: bold;
            line-height: .9em;
          }
        }
      }

      #map {
        height: 350px;
        margin: 0 3px $margin 0;
        width: 59%;
        float: right;

        border: 1px solid $light-gray;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -moz-box-shadow:    3px 3px 5px -2px $light-gray;
        -webkit-box-shadow: 3px 3px 5px -2px $light-gray;
        box-shadow:         3px 3px 5px -2px $light-gray;
      }
    }
  }

  .edit-event, .new-event {
    padding: ($padding * 2) ($padding * 4);

    sidebar { margin-top: $margin * 3; }

    .right-section {
      width: 68%;
      float: right;
      padding-left: ($padding / 2);

      h1 {
        margin-top: 0;
        padding: 0;
      }

      p {
        text-align: justify;
        padding: 0;
      }

      .building, .place, .date, .time { padding-right: $padding; }
    }
  }
}
