.home {
  .hero {
    @include size(1024px 300px);
    background: image-url('slider.png') no-repeat;

    .welcome-text {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      margin: ($margin * 7) 0 0 ($margin * 3);
      text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
    }
  }

  .content {
    p {
      text-align: justify;
    }

    a {
      color: $green;
      font-family: "Myriad Pro";
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
    }
  }

  .notice, .alert {
    margin-top: $margin;
  }
}

.home, .about, .contact, .privacy, .new_event, .edit_event {
  sidebar {
    padding-top: ($padding * 3) !important;
  }
}

