.home {
  .hero {
    @include size(1100px 300px);
    background: image-url('slider.png') no-repeat;

    .welcome-text {
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      font-weight: bold;
      margin: ($margin * 7) 0 0 ($margin * 4);
      text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
    }
  }

  .content {
    p {
      color: $text-color;
      font-size: $text-size;
      font-weight: 300;
    }

    a {
      color: $green;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      text-decoration: none;
    }

    .top-section {
      overflow: hidden;
      padding: $padding 0 $padding 0;
      border-bottom: 1px solid $gray;
    }

    .left-section {
      margin: ($margin * 2) 0 ($margin * 2) 0;
      padding-right: $padding * 4;
      .more-info {float: right;}

      .last-p {
        color: $text-color;
        font-size: $text-size;
        font-weight: 300;
      }
    }

    .right-section {
      margin: ($margin * 2) 0 ($margin * 2) $margin;
    }

    h3 {
      color: $header1-color;
      font-weight: 700;
    }
  }

  .notice, .alert {
    margin-top: $margin;
  }
}
