/*
  Include your variables to override bootstrap them.
  For more info look at http://twitter.github.com/bootstrap/customize.html
*/
$gw-column: 60px;          // Column Width
$gw-gutter: 20px;           // Gutter Width

$margin: 20px;
$padding: 20px;

$green: #677e52;
$black: #2b2b2b;
$gray: #999999;
$light-gray: #A6A7A6;
$red: #DB4743;
$light-red: #DD5B4A;
$transparent-red: rgba(231, 129, 116, 0.25);
$transparent-green: rgba(36,134,48,0.250);
$header1-color: #494949;
$text-color: #959595;

$text-size: 14px;