<% cache event do %>
  <p class="event">
    <%= link_to event.name, main_app.event_path(event) %><br>
    <%= localize_date(event.date, :long_date) %><br>
    <%= event.location %><br>
    <%= t('.organizer', organize: event.organizer) %>
  </p>
<% end %>
