<% cache post do %>
  <p class="posts">
    <%= link_to post.title, main_app.events_path %><br>
    <%= truncate post.body, length: 50 %><p>
    <%= "#{date_published_post(post.published_at)} por #{post.author.username}" %><br>
  </p>
<% end %>