<sidebar>
  <div class="events">
    <% cache @current_events do %>
      <h4><%= t('.coming_events') %></h4>
      <div class="sidebar-events">
        <%= !current_events.empty? ? (render partial: 'shared/event', collection: current_events) : t('.not_content') %>
      </div>
    <% end %>
  </div>

  <div class="blog">
    <% cache @current_posts do %>
      <h4><%= t('.blog') %></h4>
      <div class="sidebar-blog">
        <%= !current_posts.empty? ? (render partial: 'shared/post', collection: current_posts) : t('.not_content') %>
      </div>
    <% end %>
  </div>
</sidebar>
