<sidebar class="three">
  <div class="events">
    <h4>Proximos eventos</h4>
    <%= render partial: 'shared/event', collection: current_events %>
  </div>
  <div class="blog">
    <h4>Blog</h4>
  </div>  
</sidebar>