<sidebar class="three">
  <div class="events">
    <h4><%= t('.coming_events') %></h4>
    <div class="sidebar-events">
      <%= current_events.empty? ? (render partial: 'shared/event', collection: current_events) : t('.not_content') %>
    </div>
  </div>
  <div class="blog">
    <h4><%= t('.blog') %></h4>
    <div class="sidebar-blog">
      <%= t('.not_content') %>
    </div>    
  </div>
</sidebar>