<ul class="social-buttons">
    <li>
      <div class="socialite twitter-share socialite-instance socialite-loaded" data-text="Socialite.js" data-url="http://socialitejs.com" data-count="vertical" data-default-href="http://twitter.com/share" data-socialite="11">
        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1363148939.html#_=1365037800827&amp;count=vertical&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fsocialitejs.com%2Fdemo%2Fscroll.html&amp;size=m&amp;text=Socialite.js&amp;url=http%3A%2F%2Fsocialitejs.com" class="twitter-share-button twitter-count-vertical" style="width: 56px; height: 62px;" title="Twitter Tweet Button" data-twttr-rendered="true">
        </iframe>
      </div>
    </li>

    <li>
      <div class="socialite googleplus-one socialite-instance socialite-loaded" data-size="tall" data-href="http://socialitejs.com" data-default-href="https://plus.google.com/share?url=http://socialitejs.com" data-socialite="1">
        <div class="g-plusone" data-size="tall" data-href="http://socialitejs.com" data-default-href="https://plus.google.com/share?url=http://socialitejs.com" data-socialite="1" id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 50px; height: 60px; background-position: initial initial; background-repeat: initial initial;">
          <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 50px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 60px;" tabindex="0" vspace="0" width="100%" id="I0_1365037800852" name="I0_1365037800852" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=tall&amp;default-href=https%3A%2F%2Fplus.google.com%2Fshare%3Furl%3Dhttp%3A%2F%2Fsocialitejs.com&amp;socialite=1&amp;hl=en-GB&amp;origin=http%3A%2F%2Fsocialitejs.com&amp;url=http%3A%2F%2Fsocialitejs.com%2F&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.CqNG-rHlV_Y.O%2Fm%3D__features__%2Fam%3DQQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTPbm59ToxQmNYFYDQ9kkwqhmvcGVA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Constartinteraction%2Conendinteraction&amp;id=I0_1365037800852&amp;parent=http%3A%2F%2Fsocialitejs.com&amp;rpctoken=18302384" allowtransparency="true" data-gapiattached="true" title="+1">
          </iframe>
        </div>
      </div>
    </li>

    <li>
      <div class="socialite facebook-like socialite-instance socialite-loaded" data-href="http://socialitejs.com" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" data-default-href="http://www.facebook.com/sharer.php?u=http://www.socialitejs.com&amp;t=Socialite.js" data-socialite="2">
        <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://socialitejs.com" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" data-default-href="http://www.facebook.com/sharer.php?u=http://www.socialitejs.com&amp;t=Socialite.js" data-socialite="2" fb-xfbml-state="rendered">
          <span style="height: 61px; width: 49px;">
            <iframe id="f243137fd" name="f2383f180" scrolling="no" style="border: none; overflow: hidden; height: 61px; width: 49px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=&amp;locale=en_GB&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D21%23cb%3Df132cc9754%26origin%3Dhttp%253A%252F%252Fsocialitejs.com%252Ff24cf35f4c%26domain%3Dsocialitejs.com%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fsocialitejs.com&amp;node_type=link&amp;width=60&amp;layout=box_count&amp;colorscheme=light&amp;show_faces=false&amp;send=false&amp;extended_social_context=false">
            </iframe>
          </span>
        </div>
      </div>
    </li>
    <li>
      <div class="socialite linkedin-share socialite-instance socialite-loaded" data-url="http://socialitejs.com" data-counter="top" data-default-href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://socialitejs.com&amp;title=Socialite.js" data-socialite="3">
        <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.CqNG-rHlV_Y.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=QQ/rs=AItRSTPbm59ToxQmNYFYDQ9kkwqhmvcGVA/cb=gapi.loaded_0" async="">
        </script>
          <span style="line-height: 1; vertical-align: baseline; display: inline-block; text-align: center;" class="IN-widget">
            <span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;">
            <span id="li_ui_li_gen_1365037801269_1-container" class="IN-top">
              <span id="li_ui_li_gen_1365037801269_1" class="IN-top">
                <span id="li_ui_li_gen_1365037801269_1-inner" class="IN-top">
                  <span id="li_ui_li_gen_1365037801269_1-content" class="IN-top">139</span>
                </span>
              </span>
            </span>
          </span><br>
          <span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;">
            <span id="li_ui_li_gen_1365037801257_0">
              <a id="li_ui_li_gen_1365037801257_0-link" href="javascript:void(0);">
                <span id="li_ui_li_gen_1365037801257_0-logo">
                  in
                </span>
                <span id="li_ui_li_gen_1365037801257_0-title">
                  <span id="li_ui_li_gen_1365037801257_0-mark"></span>
                  <span id="li_ui_li_gen_1365037801257_0-title-text">Share</span>
                </span>
              </a>
            </span>
          </span>
        </span>
        <script type="IN/Share+init" data-url="http://socialitejs.com" data-counter="top" data-default-href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://socialitejs.com&amp;title=Socialite.js" data-socialite="3">
        </script>
      </div>
    </li>
</ul>