<div class="events-sidebar">
  <span class="icon-calendar"><%= "" %></span>
  <span class="title"><%= t('.coming_events') %></span><br>
  <%= !current_events.empty? ? (render partial: 'shared/event', collection: current_events) : t('.not_content') %>
</div>