<sidebar class="events-sidebar">
    <span class="icon-calendar"><%= "" %></span>
    <span class="title"><%= t('.coming_events') %></span><br>
    <% if !current_events.empty? %>
      <% cache @current_events do %>
        <%= render partial: 'shared/event', collection: current_events %>
      <% end %>
    <% else %>
      <div class="advice"><%= t('.not_content') %></div>
    <% end %>
</sidebar>