  <div class="sidebar">
      <div class="events">
        <h2>Proximos eventos</h2>
        <% current_events.each do |event| %>
          <div class="event">
            <%= link_to event.name, events_path %><br>
            <%= truncate event.description, length: 80 %><br>
            <%= event.date %><br>
            <%= event.location %>
          </div><br>
        <% end %>
      </div>
      <div class="blog">
        <h2>Blog</h2>
      </div>  
  </div>