<div class="container">
  <%= render partial: 'shared/sidebar', locals: { current_events: @current_events } %>
  <div class="content nine">
      <h2>¿Qué es rails.mx?</h2>
      <p>Rails México (rails.mx) es una comunidad de desarrolladores mexicanos
      e hispanohablantes. Un punto de encuentro para compartir experiencias y
      mejores prácticas sobre el mundo de rails.
      <br> Con el propósito de motivar a los desarrolladores a que se introduzcan
      en este maravilloso mundo de Rails, y de ayudar a los recién llegados a
      que su viaje por el aprendizaje del framework sea fácil y divertido.</p>

      <h2>¿Qué puedo encontrar aquí?</h2>
      <p>a comunidad funciona como repositorio de artículos, tutoriales, guías,
        tips, enlaces y noticias, todo sobre el mismo tema: Ruby on Rails. Aunque
        no hay porqué limitarse!, si quieres puedes compartir tus conocimientos
        sobre otros frameworks basados en Ruby. No esperes más y únete a esta comunidad
        de desarrolladores, aprende, comparte y agiliza tu desarrollo.</p>
  </div>
</div>