<div class="container">
  <div class="page-header">
    <h1>Acerca de.....</h1>
    <h4>Acerca de Rails.mx</h4>
  </div>
  <div class="row">
    <div class="span6 offset2">
      <div></div>
      <h2>¿Ruby on Rails?</h2>
      <p class="textifier">Ruby on Rails es un framework que simplifica en gran medida el desarrollo
        de aplicaciones web. Como su nombre lo dice está programado en Ruby por
        lo que incluye todos los grandes beneficios del lenguaje.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="span4 offset2">
      <h1>¿Qué es rails.mx?</h1>
      <p class="textifier">Rails México (rails.mx) es una comunidad de desarrolladores mexicanos
        e hispanohablantes. Un punto de encuentro para compartir experiencias y
        mejores prácticas sobre el mundo de rails.
        <br> Con el propósito de motivar a los desarrolladores a que se introduzcan
        en este maravilloso mundo de Rails, y de ayudar a los recién llegados a
        que su viaje por el aprendizaje del framework sea fácil y divertido.</p>
    </div>
    <div class="span4 offset2">
      <h1>¿Qué puedo encontrar aquí?</h1>
      <p class="textifier">a comunidad funciona como repositorio de artículos, tutoriales, guías,
        tips, enlaces y noticias, todo sobre el mismo tema: Ruby on Rails. Aunque
        no hay porqué limitarse!, si quieres puedes compartir tus conocimientos
        sobre otros frameworks basados en Ruby. No esperes más y únete a esta comunidad
        de desarrolladores, aprende, comparte y agiliza tu desarrollo.</p>
    </div>
  </div>
</div>
<script src="https://app.divshot.com/js/jquery.min.js"></script>
<script src="https://app.divshot.com/js/bootstrap.min.js"></script>
</body>

</html>