<div class="container">
  <div class="hero-unit hidden-phone">
    <a></a>
    <h1>
      <div>
        <br> 
      </div>
      <div>Rails MX</div>
      <div><%= display_login_button %></div>
    </h1>
    <p>
      <br> 
    </p>
    <p class="textifier">Una comunidad de desarrolladores mexicanos e hispanohablantes. Un punto
  de encuentro para compartir experiencias y mejores prácticas sobre el mundo
  de rails.</p>
  </div>
  <div class="row main-features">
    <div class="span4">
      <h1>twitter-timeline</h1>
    </div>
    <div class="span8">
      <ol class="breadcrumb">
        <li>Noticias&nbsp;
          <span class="divider">/</span>
        </li>
        <li>Eventos</li>
      </ol>
      <div class="well">
        <div class="row"></div>
      </div>
    </div>
  </div>