<div class="container">
      <div class="hero-unit hidden-phone">
        <a></a>
        <h1>
          <div>
            <br> 
          </div>
          <div>Rails MX</div>
        </h1>
        <p>
          <br> 
        </p>
        <p>
          <a class="btn btn-info btn-large" href="#">REGISTRATE<br></a> 
        </p>
      </div>
      <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
      <div class="row main-features">
        <div class="span4">
          <h1>twitter-timeline</h1>
        </div>
        <div class="span8">
          <ol class="breadcrumb">
            <li>Noticias&nbsp;
              <span class="divider">/</span>
            </li>
            <li style="">Eventos</li>
          </ol>
          <div class="well">
            <div class="row"></div>
          </div>
        </div>
      </div>