<div class="post" id="<%= "post_#{post.id}" %>">
  <h2 class="title"><%= link_to post.title %></h2>
  <h3 class="author"><%= "#{date_published_post(post.published_at)} por #{post.author.username}" %></h3>
  <div class="body">
    <%= post.html_body %>
  </div>
</div>
