<% title '¿Cómo colaborar en el blog?' %>
<div class="content about">
  <section class="left-section">
  <%= render partial: 'shared/sidebar', locals: { current_events: @current_events, current_posts: @current_posts } %>
  </section>

  <section class="right-section">
    <h1>¿Cómo colaborar en el blog?</h1>

    <p>Si estas interesado en colaborar en el Blog de Rails Mx, es muy sencillo.</p>

    <h2>¿Qué temas puedo escribir en el blog?</h2>

    <p>Siendo que éste sitio es sobre Ruby on Rails, entonces cualquier post sobre Ruby on Rails, sobre herramientas, librerías o técnicas donde se muestra o explique como usarlas en conjunto con Ruby on Rails son bienvenidas.</p>

    <h2>¿Mi post tiene que ser original?</h2>

    <p>De preferencia el post tendría que ser original y relevante, si el post ya lo publicaste en español en algún otro sitio, preferiríamos no publicarlo en Rails Mx, a menos que sea una mejora al post original. Si el post esta publicado en ingles en otro sitio, la traducción es bienvenida.</p>

    <p>Para publicar un post en Rails Mx se asume que tienes los derechos sobre el contenido a publicar y si es una traducción de un post que no sea tuyo, asumimos que pediste permiso para traducirlo y que en la versión es español das los créditos al autor original.</p>

    <h2>¿Cómo envío mi post para publicarse?</h2>

    <p>Redacta tu post en Markdown, crea un <a href="http://gist.github.com">Gist</a> privado y a través de la pagina de contacto envíanos el link e información sobre ti, por ejemplo donde trabajas o a que te dedicas.</p>

    <p>Es necesario que al menos una vez hagas login con tu cuenta de <a href="http://github.com">Github</a> en Rails Mx, esto es necesario para darte el crédito del post cuando sea publicado.</p>

    <h2>¿Envié mi post pero no lo han publicado?</h2>

    <p>Si encontramos algún problema con tu post, nos pondremos en contacto contigo.</p>

    <p>El enviar tu post no implica que se publique instantáneamente, de momento estamos publicando un post por semana, para darle la oportunidad a cada post que genere tracción.</p>

    <h2>¿Quién tiene los derechos sobre mi post?</h2>

    <p>Los derechos de el post los mantienes tu, así como eres tu mismo responsable del contenido del mismo, a Rails Mx solo le otorgas los permisos para publicar y promocionar tu contenido.</p>
  </section>
</div>
