<% title t('.who_we_are') %>
<div class="content about">

  <span class="line"></span>
  <h1><%= t('.about_coderetreat') %></h1>
  <span class="line"></span>
  <section>
    <div class="left-column six">
      <h2>Evento de un día para prácticar los fundamentos del diseño y desarrollo de software</h2>
      <p>El Coderetreat es un evento de un día de práctica, enfocado revisar los fundamentos del diseño y desarrollo de software. A través de proveer a los desarrolladores la oportunidad de formar parte de éste ejercicio prático, eliminando la presión de <em>terminar lo que se comenzó</em>, el formato del Coderetreat ha provado ser una herramienta efectiva para el desarrollo y mejora de las habilidades de los asistentes.</p>

      <p>Practicando los principios básico del diseño modular y orientado a objetos, le dá a los desarrolladores la habilidad de escribir código que minimize el costo del cambio en el software.</p>

      <p>El Coderetreat no es un curso para aprender a desarrollar, se asume que los asistentes tienen las bases basicás del desarrollo de software. Así mismo, el Coderetreat no se enfoca en ningun lenguaje en particular, es decir, es agnóstico.</p>

      <p>Para conocer un poco más del Coderetrat, el siguiente video capura la folosofía del mismo.</p>


    <div class="right-column six">
      <iframe src="http://player.vimeo.com/video/18955165" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      <p><a href="http://vimeo.com/18955165">Introducción del Coderetreat en Cleveland</a> por <a href="http://vimeo.com/coreyhaines">Corey Haines</a> en <a href="http://vimeo.com">Vimeo</a>.</p>
    </div>
    </div>
  </section>

  <span class="line"></span>
  <h1><%= t('.history') %></h1>
  <span class="line"></span>
  <section>
    <div class="left-column six">
      <p>
        Forage irony whatever esse irure. Letterpress organic odd future intelligentsia Austin viral butcher brunch, placeat salvia high life bushwick est. Iphone velit ennui wayfarers, occaecat est brooklyn high life. Brunch ethnic church-key terry richardson, lo-fi vero bushwick. You probably haven't heard of them pitchfork dolore consequat small batch post-ironic iphone, vero meh deserunt. Do esse retro, thundercats DIY et church-key sartorial. Enim wes anderson keffiyeh brunch laboris, flannel retro keytar kale chips reprehenderit scenester terry richardson. Forage irony whatever esse irure. Letterpress organic odd future intelligentsia Austin viral butcher brunch, placeat salvia high life bushwick est. Iphone velit ennui wayfarers, occaecat est brooklyn high life. Brunch ethnic church-key terry richardson, lo-fi vero bushwick. You probably haven't heard of them pitchfork dolore consequat small batch post-ironic iphone, vero meh deserunt.
      </p>
    </div>

    <div class="right-column six">
       <p>
        Fugiat echo park forage VHS artisan. Mumblecore semiotics fashion axe, aliqua ex officia deep v high life assumenda reprehenderit. Dolore fixie pinterest nesciunt four loko commodo. Keffiyeh semiotics pickled hashtag, occupy sed chillwave est. Gastropub disrupt assumenda, trust fund fugiat next level before they sold out ugh selvage wolf pinterest echo park sunt velit fingerstache. Raw denim master cleanse lomo, vinyl sint selfies flannel single-origin coffee readymade PBR nostrud hashtag typewriter. Vice readymade dolor +1 you probably haven't heard of them voluptate.
       </p>
       <h2>El primer Code Retreat se llevó a cabo el 24 de Junio del 2009</h2>
    </div>
  </section>

  <span class="line"></span>
  <h1><%= t('.oragnize_coderetreat') %></h1>
  <span class="line"></span>
  <section>
    <div class="left-column six">
      <%= image_tag "About-picture.png", class: "image" %>
    </div>

    <div class="right-column six">
       <p>
        Aute hashtag PBR mlkshk retro semiotics. Tousled scenester ad godard hashtag cardigan, gluten-free culpa craft beer blog mustache church-key vice pinterest officia. Et id tattooed, culpa bespoke plaid craft beer. Eiusmod flexitarian ullamco, tempor gluten-free street art esse dolor tousled direct trade salvia. Forage PBR enim placeat, lo-fi single-origin coffee disrupt consequat dolor odio portland irure four loko. Lomo aesthetic shoreditch, deserunt four loko dolor actually. Aliqua gluten-free salvia beard.
       </p>
    </div>
  </section>
</div>
