<section class="hero">
  <div class="welcome-text seven %>">Pasión por el <br>desarrollo de software</div>
</section>

<div class="content">

  <!-- <%= render partial: 'shared/sidebar', locals: { current_events: @current_events } %> -->
</div>