.posts {
  .content {
    padding-top: $padding;

    a {
      color: $red;
      text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 { color: $red; }

    .left-section {
      width: 22%;
      float: left;
      margin-left: 0 !important;

      .author {
        padding: $padding ($padding / 2) 0 ($padding / 2);

        h3 { color: $light-red; }

        .avatar { text-align: center; }

        .published {
          text-align: center;
          margin: ($margin / 8) 0;
        }

        .published-date {
          text-align: center;
          font-size: 1em;
          font-weight: lighter;
          color: $light-gray
        }
      }

      sidebar {
        width: 100%;
        padding-top: $padding !important;

        .events {
          padding-left: 0 !important;

          .sidebar-events {
            margin-top: ($margin / 2) !important;

            p {
              font-family: "Helvetica" !important;
              font-size: 0.8em !important;
              margin-top: 0;
            }
          }
        }

        .blog {
          padding-left: 0 !important;
          padding-top: $padding / 2;

          h4 { margin-top: 0 !important; }

          .sidebar-blog {
            margin-top: ($margin / 2) !important;
            font-size: 0.8em !important;
          }
        }
      }
    }

    .right-section {
      width: 78%;
      float: left;
      padding-left: 10px;

      p { text-align: justify; }

      .info h1 {
          margin: ($margin / 2) 0;
      }

      .post { padding-top: $padding; }

      p { margin-top: 0 !important; }

      .post-title { margin: ($margin / 2) 0 !important; }

      .body { font-size: .9em; }

      .author {
        margin: ($margin / 2) 0;
        font-size: 1em;
        font-weight: lighter;
        color: $light-gray
      }
    }
  }
}