/*
  Include your variables to override bootstrap them.
  For more info look at http://twitter.github.com/bootstrap/customize.html
*/
$gw-column: 67px;          // Column Width
$gw-gutter: 20px;           // Gutter Width

$margin: 20px;
$padding: 20px;

$black: #343234;
$red: #DB4743;
$light-red: #DD5B4A;
$gray: #6E6D6C;
$light-gray: #A6A7A6;
$transparent-red: rgba(231, 129, 116, 0.25);