/*
  In this file override any css style or add new ones
*/

body {
  background-color: #eee;
}

#wrap {
  background-color: #fff;
  width: 1024px;
  margin: 0px auto 0px auto
}

header {
  height: 70px;
  border-style: solid;
  border-width: 1px;

  .logo {
    float: left;
    padding-top: $padding-top-header;
    padding-left: $padding-side-header;
  }

  .welcome {
    float: right;    
    padding-top: $padding-top-header - 10;
    padding-right: $padding-side-header;
  }
}

.btn {
  @include button;
  @include size(75px 10px);
  font-size: 0.8em;
  @include font-face(SourceSansPro, '/fonts/Source_Sans_Pro/SourceSansPro-Regular');

}

.big_btn {
  @include button(pill);
  @include size(150px 30px);
  font-size: 0.8em;
}