/*
  In this file override any css style or add new ones
*/


.page-header{
  padding-top: 40px;
  }

.footer{
  width: auto;
  background-color: black;
  height: 100px;
  bottom:0;
  }

.textifier{
  width: 400px;
  text-align: justify;
  } 

.nav{
  padding-left: 500px;
  }

#content{
  margin: 0px 0px 10px;
  width: 577px;
  height: 288px;
}

.area{
  margin: 0px 0px 10px;
  width: 491px;
  height: 129px;
  }

.areamail{
  margin: 0px 0px 10px;
  width: 726px;
  height: 285px;
  }

.linktext{
  color: white;
}
