/*
  In this file override any css style or add new ones
*/

containered {
  padding-top: 50px;
}

.nav{
  padding-left: 700px;
  }
.footer{
  width: auto;
  background-color: black;
  height: 100px;
  }
.textifier{
  text-align: justify;
  }
  
.container{
  padding-top: 40px;
  }
  
.page-header{
  padding-top: 40px;
}