/*
  Include your variables to override bootstrap them.
  For more info look at http://twitter.github.com/bootstrap/customize.html
*/
$gw-column: 67px;          // Column Width
$gw-gutter: 20px;           // Gutter Width

$margin: 20px;
$padding: 20px;


$light-gray: #ccc;

$padding-top-header: 20px;
$padding-side-header: 20px;
