/*
  Include your variables to override bootstrap them.
  For more info look at http://twitter.github.com/bootstrap/customize.html
*/

$padding-top-header: 25px;
$padding-side-header: 20px;

container{
  padding-top: 500px;
}